{% extends "base.html.twig" %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('gatomlo_project_manager_all_projects')}}">Projets</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ path('gatomlo_project_manager_one_project', { 'id': project.id }) }}">{{project.name}}</a>
  </li>
  <li class="breadcrumb-item active">Evénements</li>
{% endblock %}

{% block body %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('gatomlo_project_manager_one_project', { 'id': project.id }) }}">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ path('gatomlo_project_manager_all_events_from_a_project', { 'projectId': project.id }) }}">Evénements</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Tâches</a>
    </li> -->
  </ul>
</br></br>

  <div class="card mb-3">
    <div class="card-header"><a class="float-right  btn btn-primary " href="{{ path('gatomlo_project_manager_add_event') }}"><i class="fas fa-plus-circle text-align-right"></i> Nouvel événement</a></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered display responsive nowrap" id="eventDatatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Date</th>
              <th>Type</th>
              <th>Intervenants</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
              <tr>
                <td>{{event.title}}</td>
                <td>{{event.startdate|date("d/m/Y")}}</td>
                {% if event.type is not null %}
                    <td>{{event.type.name}}</td>
                {% else %}
                  <td>/</td>
                {% endif %}
                {% if event.intervenants is not null %}
                  <td>
                    {% for intervenant in intervenants%}
                      <div>{{intervenant.name}}{% if not loop.last %}</div>, {% endif %}
                    {% endfor %}
                  </td>
                {% else %}
                  <td>/</td>
                {% endif %}
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cogs"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_one_event', { 'id': event.id }) }}"><i class="fas fa-eye"></i> Voir</a>
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_edit_event', { 'id': event.id }) }}"><i class="fas fa-pen"></i> Editer</a>
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_delete_event', { 'id': event.id,'from':'project' }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('#eventDatatable').DataTable({
        responsive: true,
        stateSave: true,
        "columnDefs": [
              {
                  "targets": [ 3 ],
                  "visible": false,
                  "searchable": true
              },

          ]
      });
    });
  </script>
{% endblock %}
