{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('gatomlo_project_manager_events_all_reports')}}">Rapports</a>
    </li>
    <li class="breadcrumb-item active">{{report.name}}</li>
  </ol>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Rapport</a>
  </li>
  <li>
    <a class="nav-link" href="{{ path('gatomlo_project_manager_events_view_report_criters',{ 'reportId': report.id }) }}">Critères</a>
  </li>
</ul>
</br></br>
  <div class="card mb-3">
    <div class="card-header">
      <div class=" row">
        <h2 class="col-auto mr-auto">{{report.name}}</h2>
        <div class="dropdown col-auto">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" target="_blank" href="{{ path('gatomlo_project_manager_events_print_report',{ 'reportId': report.id }) }}"><i class="fas fa-print"></i> Imprimer</a>
            <a class="dropdown-item" href="{{ path('gatomlo_project_manager_events_edit_report', { 'reportId': report.id }) }}"><i class="fas fa-pen"></i> Editer</a>
            <a class="dropdown-item" href="{{ path('gatomlo_project_manager_events_delete_report', { 'reportId': report.id }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      {% for event in events %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{event.title}} [{{event.type.name}}]</h5>
          <h6 class="card-subtitle mb-2 text-muted">
          {{event.startdate|date("d/m/Y H:m")}}
          {% if not event.endDate %}
          - {{event.endDate|date("d/m/Y H:m")}}
          {% endif %}
          </h6>
          <p>{{event.description | raw }}</p>
          {% if not event.tags.empty %}
              {% for tag in event.tags %}
                <div class="badge badge-secondary dropdown col-auto">{{ tag.name }}</div>{% if not loop.last %}, {% endif %}
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </br>
      {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('#eventDatatable').DataTable({
        responsive: true,
        stateSave: true,
        "columnDefs": [
              {
                  "targets": [ 3 ],
                  "visible": false,
                  "searchable": true
              },

          ]
      });
    });
  </script>
{% endblock %}
