{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('gatomlo_project_manager_all_projects')}}">Projets</a>
    </li>
    <li class="breadcrumb-item active">
      {% if project.name is not null %}
        {{project.name}}
      {% else %}
        Nouveau projet
      {% endif %}
     </li>
  </ol>
{% endblock %}

{% block body %}

  {{ form(form) }}


{% endblock %}
{% block scripts %}
  <script>
    $('.select-parent').selectize({
      sortField: 'text',
      plugins: ['remove_button'],
    });
    $('.select-tags').selectize({
      plugins: ['remove_button'],
      valueField: 'text',
      labelField: 'text',
      searchField: 'text',
      create: true,
      options: [],
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
            url: '{{ path('gatomlo_project_manager_tags_json',{ 'type': 3 })}}',
            type: 'GET',
            dataType: 'json',
            data: {
                country: query,
            },
            error: function() {
                callback();
            },
            success: function(res) {
                callback(res);
            }
        });
      }
    });
    $('.select-user').selectize({
      plugins: ['remove_button'],
      valueField: 'text',
      labelField: 'text',
      searchField: 'text',
      hideSelected: true,
      options: [],
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
            url: '{{ path('gatomlo_project_manager_user_json')}}',
            type: 'GET',
            dataType: 'json',
            data: {
                country: query,
            },
            error: function() {
                callback();
            },
            success: function(res) {
                callback(res);
            }
        });
      }
    });
  </script>
{% endblock %}
