{% extends "base.html.twig" %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('gatomlo_project_manager_all_projects')}}">Projets</a>
  </li>
  <li class="breadcrumb-item active"> {{project.name}}  </li>
{% endblock %}

{% block body %}

  {{ form_start(form) }}
    {{ form_row(form._token) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.url) }}
    {{ form_row(form.endtime) }}
    {{ form_row(form.parent) }}
<hr>
Tags <button type="button" id="addTagButton" class="btn btn-primary add_tag_link"><i class="fas fa-plus-circle"></i></button></br></br>
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
      {% for tag in form.tags %}
        <li>{{ form_row(tag.name) }}</li>
      {% endfor %}
    </ul>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}</br></br>
{{ form_end(form) }}

{% endblock %}
{% block scripts %}

    <script src="{{ asset('js/addTags.js')}}"></script>
{% endblock %}
