{% extends "base.html.twig" %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('gatomlo_project_manager_all_projects')}}">Projets</a>
  </li>
  <li class="breadcrumb-item active">{{project.name}}</li>
{% endblock %}

{% block body %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('gatomlo_project_manager_all_events_from_a_project', { 'projectId': project.id }) }}">Evénements</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Tâches</a>
    </li> -->
  </ul>


  </br></br>
  <div class="card">
    <div class="card-header">
      <!-- {% for status in project.status %}
        Status : {{status.name}}
      {% endfor %} -->
      <div class="row">
        <h2 class="col-auto mr-auto">{{project.name}}</h2>
        <div class="dropdown col-auto">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('gatomlo_project_manager_edit_project', { 'id': project.id }) }}"><i class="fas fa-pen"></i> Editer</a>
            <a class="dropdown-item" href="{{ path('gatomlo_project_manager_delete_project', { 'id': project.id }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
          </div>
        </div>
      </div>

    </div>
    <div class="card-body">
      <h5>Description:</h5>
      {{project.description}}

      {% if project.parent is not null %}
      </br></br><h5>Projet parent:</h5>
        <a href="{{ path('gatomlo_project_manager_one_project', { 'id': project.parent.id }) }}">{{project.parent.name}}</a>
      {% endif %}

      {% if project.childs =='' %}
        </br></br><h5>Projets enfants:</h5>
        {% for child in project.childs %}
          <a href="{{ path('gatomlo_project_manager_one_project', { 'id': child.id }) }}">{{child.name}}</a>{% if not loop.last %}</br> {% endif %}
        {% endfor %}
      {% endif %}

    </div>
    <div class="card-footer text-muted ">
      <div class="row">
        {% if project.endtime is not null %}
          <div class="col-auto mr-auto">Echéance du projet : {{project.endtime|date("d/m/Y")}}</div>
        {% endif %}
        {% if not project.tags.empty %}
            {% for tag in project.tags %}
              <div class="badge badge-secondary dropdown col-auto">{{ tag.name }}{% if not loop.last %}</div>, {% endif %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
