{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('gatomlo_project_manager_all_projects')}}">Projets</a>
    </li>
    <li class="breadcrumb-item active">
      {% if archived %}
        Archives
      {% else %}
        Actifs
      {% endif %}
    </li>
  </ol>
{% endblock %}

{% block body %}


  <div class="card mb-3">
    <div class="card-header"><a class="float-right  btn btn-primary " href="{{ path('gatomlo_project_manager_add_project') }}"><i class="fas fa-plus-circle text-align-right"></i> Nouveau projet</a></div>
    <div class="card-body">
      <div class="table-responsive">
          <table class="table" id="projectDataTable" width="100%" cellspacing="0">

          <thead>
            <tr>
              <th>Nom</th>
              <th>Status</th>
              <th>Tags</th>
              {% if is_granted('ROLE_ADMIN') %}
                <th>Propriétaires</th>
              {% endif %}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr>
                <td>{{project.name}}</td>
                <td>
                  {% for statu in project.status %}
                    {{statu.name}}
                  {% endfor %}
                </td>
                <td>
                  {% for tag in project.tags %}
                    {{tag.name}}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                {% if is_granted('ROLE_ADMIN') %}
                  <td>
                    {% for owner in project.owner %}
                      {{owner.username}}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                {% endif %}
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cogs"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_one_project', { 'id': project.id }) }}"><i class="fas fa-eye"></i> Voir</a>
                      {% if not archived%}
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_edit_project', { 'id': project.id }) }}"><i class="fas fa-pen"></i> Editer</a>
                      {% endif %}
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_delete_project', { 'id': project.id }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                      {% if archived%}
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_archived_project', { 'id': project.id }) }}"><i class="fas fa-undo"></i>
                          Désarchiver
                        </a>
                      {% else %}
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_archived_project', { 'id': project.id }) }}"><i class="fas fa-archive"></i>
                          Archiver
                        </a>
                      {% endif %}

                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function() {
      $('#projectDataTable').DataTable({
        responsive: true,
        stateSave: true,
      });
    });
  </script>

{% endblock %}
