{% extends "base.html.twig" %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ path('gatomlo_project_manager_all_projects')}}">Projets</a>
  </li>
  <li class="breadcrumb-item active"> {{project.name}}  </li>
{% endblock %}

{% block body %}

  {{ form(form) }}

{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2({
        });
    });
  </script>
  <script>
    $('.select-parent').selectize({
      sortField: 'text'
    });



$('.select-tags').selectize({
  valueField: 'id',
  labelField: 'text',
  searchField: 'text',
  create: true,
  options: [],
  load: function(query, callback) {
    if (!query.length) return callback();
    $.ajax({
        url: '{{ path('gatomlo_project_manager_tags_json')}}',
        type: 'GET',
        dataType: 'json',
        data: {
            country: query,
        },
        error: function() {
            callback();
        },
        success: function(res) {
            callback(res);
        }
    });
  }
});
  </script>


  <script src="{{ asset('js/addTags.js')}}"></script>

{% endblock %}
