{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('gatomlo_project_manager_all_peoples')}}">Contacts</a>
    </li>
    <li class="breadcrumb-item active">Tous les contacts</li>
  </ol>
{% endblock %}

{% block body %}


  <div class="card mb-3">
    <div class="card-header"><a class="float-right  btn btn-primary " href="{{ path('gatomlo_project_manager_add_people') }}"><i class="fas fa-plus-circle text-align-right"></i> Nouveau contact</a></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped display responsive nowrap" id="peopleDatatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Diplome</th>
              <th>Matricule</th>
              <th>Institution</th>
              <th>Tags</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for people in peoples %}
              <tr>
                <td>{{people.firstName}}</td>
                <td>{{people.lastName}}</td>
                {% if people.diplome is not null %}
                  <td>{{people.diplome}}</td>
                {% else %}
                  <td>/</td>
                {% endif %}
                {% if people.matricule is not null %}
                  <td>{{people.matricule}}</td>
                {% else %}
                  <td>/</td>
                {% endif %}
                {% if people.institution is not null %}
                  <td>{{people.institution}}</td>
                {% else %}
                  <td>/</td>
                {% endif %}
                <td>
                  {% for tag in people.tags %}
                    {{tag.name}}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cogs"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_one_people', { 'id': people.id }) }}"><i class="fas fa-eye"></i> Voir</a>
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_edit_people', { 'id': people.id }) }}"><i class="fas fa-pen"></i> Editer</a>
                      <a class="dropdown-item" href="{{ path('gatomlo_project_manager_delete_people', { 'id': people.id }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('#peopleDatatable').DataTable({
        responsive: true,
        stateSave: true,
      });
    });
  </script>
{% endblock %}
