{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('gatomlo_project_manager_all_peoples')}}">Contacts</a>
    </li>
    <li class="breadcrumb-item active">{{people.firstName}} {{people.lastName}} </li>
  </ol>
{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Coordonnées</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="{{ path('gatomlo_project_manager_all_intervenants_from_a_people', { 'peopleId': people.id,'isArchived':0 }) }}">Projets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="{{ path('gatomlo_project_manager_all_intervenants_from_a_people', { 'peopleId': people.id,'isArchived':1 }) }}">Archives</a>
  </li>
</ul>

  </br></br>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <h2 class="col-auto mr-auto">{{people.firstName}} {{people.lastName}}</h2>
        <div class="dropdown col-auto">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('gatomlo_project_manager_edit_people', { 'id': people.id }) }}"><i class="fas fa-pen"></i> Editer</a>
            <a class="dropdown-item" href="{{ path('gatomlo_project_manager_delete_people', { 'id': people.id }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4>Personnelles:</h4>
      <i class="fas fa-home"></i> :
      {% if people.streetAndNumer is not null %}
        {{people.streetAndNumer}}, {{people.cityAndCode}}
      {% else %}
        non encodé
      {% endif %}
      </br>
      <i class="fas fa-phone"></i> :
      {% if people.phone is not null %}
        {{people.phone}}
      {% else %}
        non encodé
      {% endif %}
      </br>
      <i class="fas fa-at"></i> :
      {% if people.email is not null %}
      <a href="mailto:{{people.email}}">{{people.email}}</a>

      {% else %}
        non encodé
      {% endif %}
      </br></br>
      <i class="fas fa-graduation-cap"></i> :
      {% if people.diplome is not null %}
        {{people.diplome}}
      {% else %}
        non encodé
      {% endif %}
      </br></br>
      <i class="far fa-id-card"></i> :
      {% if people.matricule is not null %}
        {{people.matricule}}
      {% else %}
        non encodé
      {% endif %}
      </br></br>
      <h4>Institution:</h4>
      {% if people.institution is not null %}
        <strong>{{people.institution}}</strong>
      {% else %}
        non encodé
      {% endif %}
      </br>
      {% if people.streetOfInstitution is not null %}
        {{people.streetOfInstitution}}, {{people.cityAndCodeOfInstitution}}
      {% else %}
        non encodé
      {% endif %}
      </br></br>
      Fonction :
      {% if people.fonction is not null %}
        {{people.fonction}}
      {% else %}
        non encodé
      {% endif %}
      </br></br>
      <h4>Remarque(s):</h4>
      {% if people.comment is not null %}
        {{people.comment | raw  }}
      {% else %}
        pas de commentaire
      {% endif %}
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-auto mr-auto">
        {% if not people.tags.empty %}
            {% for tag in people.tags %}
              <div class="badge badge-secondary dropdown col-auto">{{ tag.name }}</div>{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
