{% extends "base.html.twig" %}
{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Accueil </li>
  </ol>
{% endblock %}
{% block body %}

<div class="row">
  <div class="col-8">
    <div id='plannificator'></div>
  </div>
  <div class="col-4">
    <div id='external-events' class='h-100'>
      <h4>Tâches à plannifier</h4>
      <ul id='external-events-listing' class="list-group list-group-flush">
        {% for task in noPlannifiedTasks %}
          <li data-id='{{task.id}}' data-color='{{task.color}}' style="background-color:{{task.color}};color:black;" class='fc-event list-group-item border'>
            {% if task.closed %}
              <s>{{task.description}}</s>
            {% else %}
              {{task.description}}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function() {
        $('#external-events .fc-event').each(function() {
            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                stick: true, // maintain when user navigates (see docs on the renderEvent method
                color: $(this).data('color'),
                id: $(this).data('id')
            });
            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });
        });
    });
  </script>
  <script>
    $('#plannificator').fullCalendar({
    editable: true,
    eventStartEditable: true,
    displayEventTime:false,
    droppable: true,
    weekends: false,
    titleFormat: '[Echéances : ]MMMM YYYY',
    eventSources: [
      {
        url: '{{ path('gatomlo_project_manager_planned_tasks_json')}}',
        type: 'Get',

        error: function() {
          alert('Il y a eu une erreur lors de la récupération des tâches!');
        },
      }
    ],
    eventDrop: function(event, delta, revertFunc) {
      $.ajax({
          type: 'GET',
          url: "{{ path('gatomlo_project_manager_change_planiffied_date_task') }}",
          data:{
            id:event.id,
            start:event.start.format('Y-M-D HH:MM')
          },
          dataType: 'json',
          success: function(msg){
          },
          error: function(){
            alert('Déplacement impossible, veuillez recharger la page et essayer à nouveau.')
            revertFunc();
          }
      });
    },
    eventRender: function(event, element)
    {
      if(event.closed){
        element.find('.fc-title').html('<s>' + event.title + '</s>');
      }
    },
    drop: function(date,jsEvent,ui,ressourceId) {
         $(this).remove();
         $.ajax({
             type: 'GET',
             url: "{{ path('gatomlo_project_manager_change_planiffied_date_task') }}",
             data:{
               id:$(this).data('id'),
               start:date.format('Y-M-D HH:MM')
             },
             dataType: 'json',
             success: function(msg){
             },
             error: function(){
               alert('Déplacement impossible, veuillez recharger la page et essayer à nouveau.')
               revertFunc();
             }
         });

     },
     eventDragStop: function(event, jsEvent, ui, view) {
       if (isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
         $('#plannificator').fullCalendar('removeEvents', event.id);
         var el = $("<li data-id="+event.id+" data-color="+event.color+" class='fc-event list-group-item border'>").css({'background-color':event.color,'color':'black'}).appendTo('#external-events-listing').text(event.title);
         el.draggable({
           zIndex: 999,
           revert: true,
           revertDuration: 0
         });
         el.data('event', {
           title: event.title,
           id: event.id,
           stick: true,
           color: event.color
         });
         $.ajax({
             type: 'GET',
             url: "{{ path('gatomlo_project_manager_change_planiffied_date_task') }}",
             data:{
               id:event.id,
               start:null
             },
             dataType: 'json',
             success: function(msg){
             },
             error: function(){
               revertFunc();
             }
         });
       }
     }
  });
    var isEventOverDiv = function(x, y) {

    var external_events = $('#external-events');
    var offset = external_events.offset();
    offset.right = external_events.width() + offset.left;
    offset.bottom = external_events.height() + offset.top;

    // Compare
    if (x >= offset.left &&
      y >= offset.top &&
      x <= offset.right &&
      y <= offset.bottom) {
      return true;
    }
    return false;

  }
  </script>
{% endblock %}
