{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Toutes les tâches</li>
  </ol>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
  {% if openTask == false %}
    <li class="nav-item">
      <a class="nav-link  active" href="{{ path('gatomlo_project_manager_all_open_tasks')}}">En cours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('gatomlo_project_manager_all_closed_tasks')}}">Terminées</a>
    </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ path('gatomlo_project_manager_all_open_tasks')}}">En cours</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('gatomlo_project_manager_all_closed_tasks')}}">Terminées</a>
  </li>
  {% endif %}
</ul>
</br></br>
  <div class="card mb-3">
    <div class="card-header">
      {% if openTask == false %}
      <a class="float-right  btn btn-primary " href="{{ path('gatomlo_project_manager_add_task') }}"><i class="fas fa-plus-circle text-align-right"></i> Nouvelle tâche</a>
      {% endif %}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped display responsive nowrap" id="taskDatatable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Projet</th>
              <th>Echéance</th>
              <th>Tags</th>
              {% if is_granted('ROLE_ADMIN') %}
                <th>Propriétaires</th>
              {% endif %}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasksArray %}
              <tr>
                <td >
                  {% if task.closed %}
                    <i class="fas fa-check"></i>
                  {% elseif task.enddate == null %}
                    <i data-toggle="tooltip" data-placement="top" title="Tâche sans échéance." class="fas fa-calendar-times"></i>
                  {% else %}
                    {% if task.status > 0 %}
                    <font color="{{ task.color }}">
                      <i data-toggle="tooltip" data-placement="top" title="Echéance dépassée !" class="fas fa-bell"></i>
                    </font>
                    {% elseif task.status < 0 %}
                      <font color="{{ task.color }}">
                        <i data-toggle="tooltip" data-placement="top" title="Echéance dans le futur." class="far fa-clock"></i>
                      </font>
                    {% elseif task.status == 0 %}
                     <font color="{{ task.color }}">
                       <i data-toggle="tooltip" data-placement="top" title="Echéance aujourd'hui !" class="fas fa-clock"></i>
                     </font>
                    {% endif %}

                  {% endif %}
                </td>
                {% if task.closed %}
                  <td><s>{{task.description}}</s></td>
                {% else %}
                  <td>{{task.description}}</td>
                {% endif %}
                <td><a  href="{{ path('gatomlo_project_manager_one_project', { 'id': task.project.id }) }}">{{task.project.name}}<a/></td>
                {% if task.enddate != null %}
                <td>{{task.enddate|date("d/m/Y")}}</td>
                {% else %}
                <td>Pas d'échéance</td>
                {% endif %}
                <td>
                  {% for tag in task.tags %}
                    {{tag.name}}{% if not loop.last %}, {% endif %}
                  {% endfor %}</td>
                  {% if is_granted('ROLE_ADMIN') %}
                    <td>
                      {% for owner in task.owner %}
                        {{owner.username}}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                    </td>
                  {% endif %}
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cogs"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% if task.closed %}
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_delete_task', { 'id': task.id,'from':'tasks' }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_close_task',  { 'id': task.id,'from':'tasks' }) }}"><i class="fas fa-undo-alt"></i> Reprendre</a>
                      {% else %}
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_close_task',  { 'id': task.id,'from':'tasks' }) }}"><i class="fas fa-check"></i> Clôturer</a>
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_edit_task', { 'id': task.id }) }}"><i class="fas fa-pen"></i> Editer</a>
                        <a class="dropdown-item" href="{{ path('gatomlo_project_manager_delete_task', { 'id': task.id,'from':'tasks' }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                      {% endif %}
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('#taskDatatable').DataTable({
        responsive: true,
        stateSave: false,
      });
    });
  </script>
{% endblock %}
