{% extends "base.html.twig" %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Accueil </li>
{% endblock %}
{% block body %}

<div class="row">
  <div class="col">
    <div id='plan'></div>
  </div>
  <div class="col">
    <div id='deadline'></div>
  </div>
</div>
</br>
<div class="row">
  <div class="col">
    <h4>Derniers événements ajoutés</h4>
    <ul>
      {% for event in events %}
        <li><a href="{{ path('gatomlo_project_manager_one_event', { 'id': event.id }) }}">{{event.title}} ({{event.project.name}})</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h4>Derniers projets ajoutés</h4>
    <ul>
      {% for project in projects %}
        <li><a href="{{ path('gatomlo_project_manager_one_project', { 'id': project.id }) }}" >{{project.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script>
    $('#deadline').fullCalendar({
    weekends: false,
    displayEventTime:false,
    titleFormat: '[Echéances : ]MMMM YYYY',
    eventSources: [
      {
        url: '{{ path('gatomlo_project_manager_deadline_projects_json')}}',
        type: 'Get',

        error: function() {
          alert('Il y a eu une erreur lors de la récupération des projets!');
        },
        color: '#109DC5',   // a non-ajax option
        textColor: 'black' // a non-ajax option
      },
      {
        url: '{{ path('gatomlo_project_manager_deadline_tasks_json')}}',
        type: 'Get',

        error: function() {
          alert('Il y a eu une erreur lors de la récupération des tâches!');
        },
      }
    ],
    eventRender: function(event, element)
    {
      if(event.closed == true){
        element.find('.fc-title').html('<s>' + event.title + '</s>');
      }
    }
  });
  $('#plan').fullCalendar({

  defaultView: 'listDay',
  displayEventTime:false,
  views: {
  listDay: {
    type: 'list',
    duration: { days: 1 },
    buttonText: 'Journée'
  }
},
  titleFormat: '[Tâches plannifiées : ]D MMMM YYYY',
  eventSources: [

    {
      url: '{{ path('gatomlo_project_manager_planned_tasks_json')}}',
      type: 'Get',

      error: function() {
        alert('Il y a eu une erreur lors de la récupération du planning');
      }
    }
  ],
  eventRender: function(event, element, view){
    if(event.closed == true){
      element.find('.fc-list-item-title').html('<s>' + event.title + '</s>');
    }},
});
  </script>

{% endblock %}
